@import 'mixins';
@import 'variables';



.hero {
	@include backImage('../assets/Desktop_Backgrounds_1920x1200.png');
}

.main {
    @include backColor($white);
}

.learn-more {
    @include backImage('../assets/Conference_Background_1200x666.png');
    position: relative;
}

.footer {
    @include backColor($grey);
    position: relative;
    min-height: unset;
}