body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hero {
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
    }

    h1{
        font-family: "Oswald";
        color: $white-headline;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        margin: 48px 0;
    }

    h2{
        font-family: 'Source Sans Pro';
        color: $white-transparent;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }
}

.main {
    h2 {
        font-family: "Oswald";
        color: $grey;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    }

    h3 {
        font-family: "Source Sans Pro";
        color: $grey-light;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;  
    }
}

.learn-more {
    h2 {
        font-family: "Oswald";
        color: $white;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px; 
    }

    h3 {
        font-family: "Source Sans Pro";
        color:$white;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px; 
    }
}
