.footer {
    .container {
        display: grid;    
        padding: 4% 8% 0% 8%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        color: rgba(255, 255, 255, 0.4);
        
        a {
            color: inherit;
            text-decoration: none;
        }
    
        .project-logo {
            grid-column: 1/3;
            grid-row: 1;
            
            img,
            p {
                display: inline-block;
                vertical-align: middle;
            }
            
            p {
                font-family: "Source Sans Pro";
                text-transform: uppercase;
                color: $white;
                font-size: 18px;
                line-height: 16px;
                letter-spacing: 0.2em;
            }
        }

        .contact-address {
            grid-column: 3;
            grid-row: 1;
            text-decoration: none;
        }
        
        .email-address{
            grid-column: 3;
            grid-row: 2;
        }

        .copyright{
            white-space: nowrap;
            text-align: right;
            grid-column: 6/8;
            grid-row: 2;
        }
    }
}