.learn-more{
    display: grid;
    place-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        place-items: center;
        text-align: center;

        > * {
            display: block;
            margin: 20% 0% 10% 0%;
        }

        button {
            background-color: $blue-light;
            color: $white;
            width: 150px;
            height: 150px;
            font-size: 80px;
            border: 0px;
            border-radius: 50%;
            animation: shrink 0.2s;
            &:hover {
                animation: expand 0.3s  ease-in-out forwards;
            }
        }
    }
}