.main .container{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;

    .headline,
    .subheadline {
        margin-bottom: 5%;
    }

    .article {
        display: grid;
        font-family: 'Source Sans Pro';
        color: $black;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        column-gap: 10%;
        grid-template-columns: 1fr 1fr; 
        margin: 0% 20%;
    }

    .button {
        font-family: "Oswald";
        color: white;
        background-color: $blue-light;
        width: 115px;
        height: 36px;
        font-size: 14px;
        line-height: 26px;
        border-radius: 18px;
        border: 0px;
        margin-top:40px;

        &:hover {
            animation: rotate 3s  linear infinite;
        }
    }
}


